body, html {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 100%;
}

#header {
	width: 100%;
	background-color: #FF4500;
	height: 4.25em;
}

#header p {
	position: relative;
	color: white;
	font-family: Roboto, Arial, sans-serif;
	font-weight: bold;
	font-size: 320%;
	margin-left: 2%;
	margin-top: 0;
	top: 0.375em;
}

#mainArea {
	position: relative;
	width: 95%;
	height: 40em;
	margin-top: 2em;
	margin-bottom: 3em;
	margin-left: 2%;
	margin-right: 2%;
}

#graphicsContainer {
	position: relative;
	float: left;
	background-image: url(../images/mars_surface_scaled.jpg);
	background-color: #508FBB;
	background-size: cover;
	background-repeat: no-repeat;
	width: 75%;
	height: 100%;
	margin-right: 3%;
}

canvas {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#graphicsContainer #grid {
	z-index: 1;
	opacity: 0.5;
}

#graphicsContainer #finishedRobots {
	z-index: 2;
}

#graphicsContainer #robots {
	z-index: 3;
}

#sidebar {
	float: right;
	width: 22%;
	height: 100%;
}

#sidebar #editor {
	font-family: Consolas, monospace;
	font-size: 120%;
	resize: none;
	overflow: scroll;
	width: 100%;
	height: 85%;
}

#sidebar #buttonBox {
	width: 100%;
	height: 15%;
}

.buttons {
	position: relative;
}

#sidebar #fileInput {
	float: left;
	width: 100%;
	height: 2em;
	margin-top: 1.25em;
	margin-bottom: 1.25em;
}

#sidebar #goButton {
	float: left;
	clear: left;
	width: 45%;
	height: 2em;
}

#sidebar #skipButton {
	float: left;
	margin-left: 5%;
	width: 45%;
	height: 2em;
}

#outputBox {
	display: inline-block;
	background-color: white;
	margin-left: 2%;
	margin-right: 2%;
	margin-bottom: 0.5em;
	height: 12em;
	width: 95%;
	overflow: scroll;
	font-family: Roboto, Arial, sans-serif;
}

#outputBox p {
	margin-left: 0.5em;
}

#outputBox b {
	color: black;
}
